#profileName {
    float: left;
    width:60%;
}

#defaultProfile {
    float: left;
}

#launch {
    float:right;
}

#profileSel {
    margin-bottom:80px;
}

#filePanel {
    clear: both;
}

#actionText,
#infoText {
    padding-left: 30px;
}

#btnPanel {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
